<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_AutoBuyPromotions>
            <version>1.0.0</version>
        </Edge_AutoBuyPromotions>
    </modules>
    <global>
        <blocks>
            <autobuypromotions>
                <class>Edge_AutoBuyPromotions_Block</class>
            </autobuypromotions>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tabs>Edge_AutoBuyPromotions_Block_Adminhtml_Edit_Tabs</promo_quote_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <salesrule>
                <rewrite>
                    <rule>Edge_AutoBuyPromotions_Model_Rule</rule>
                </rewrite>
            </salesrule>
        </models>
        <resources>
            <autobuypromotions_setup>
                <setup>
                    <module>Edge_AutoBuyPromotions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </autobuypromotions_setup>
        </resources>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <autobuypromotions_quote_item>
                        <type>singleton</type>
                        <class>Edge_AutoBuyPromotions_Model_Observer_Product</class>
                        <method>autoBuyPromotions</method>
                    </autobuypromotions_quote_item>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <autobuypromotions before="Mage_Adminhtml">Edge_AutoBuyPromotions_Adminhtml</autobuypromotions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <autobuypromotions>
                    <file>edge/autobuypromotions.xml</file>
                </autobuypromotions>
            </updates>
        </layout>
    </adminhtml>
</config>