<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_AutoBuyPromotions>
            <version>1.0.3</version>
        </Edge_AutoBuyPromotions>
    </modules>
    <global>
        <blocks>
            <autobuypromotions>
                <class>Edge_AutoBuyPromotions_Block</class>
            </autobuypromotions>
            <adminhtml>
                <rewrite>
                    <promo_quote>Edge_AutoBuyPromotions_Block_Adminhtml_Promo_Quote</promo_quote>
                    <promo_quote_grid>Edge_AutoBuyPromotions_Block_Adminhtml_Promo_Quote_Grid</promo_quote_grid>
                    <promo_quote_edit>Edge_AutoBuyPromotions_Block_Adminhtml_Promo_Quote_Edit</promo_quote_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <autobuypromotions>
                <class>Edge_AutoBuyPromotions_Helper</class>
            </autobuypromotions>
        </helpers>
        <models>
            <autobuypromotions>
                <class>Edge_AutoBuyPromotions_Model</class>
                <resourceModel>autobuypromotions_resource</resourceModel>
            </autobuypromotions>
            <autobuypromotions_resource>
                <class>Edge_AutoBuyPromotions_Model_Resource</class>
                <entities>
                    <autobuypromotions>
                        <table>autobuypromotions</table>
                    </autobuypromotions>
                    <category>
                        <table>autobuypromotions_category</table>
                    </category>
                    <product>
                        <table>autobuypromotions_product</table>
                    </product>
                </entities>
            </autobuypromotions_resource>
            <salesrule_resource>
                <rewrite>
                    <rule>Edge_AutoBuyPromotions_Model_Resource_Rule</rule>
                    <rule_collection>Edge_AutoBuyPromotions_Model_Resource_Rule_Collection</rule_collection>
                </rewrite>
            </salesrule_resource>
            <salesrule>
                <rewrite>
                    <rule>Edge_AutoBuyPromotions_Model_Rule</rule>
                </rewrite>
            </salesrule>
        </models>
        <resources>
            <autobuypromotions_setup>
                <setup>
                    <module>Edge_AutoBuyPromotions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </autobuypromotions_setup>
        </resources>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <autobuypromotions_quote_item>
                        <class>autobuypromotions/observer_product</class>
                        <method>autoBuyPromotions</method>
                    </autobuypromotions_quote_item>
                </observers>
            </checkout_cart_add_product_complete>
            <salesrule_rule_condition_combine>
                <observers>
                    <autobuypromotions_keywords_condition>
                        <class>autobuypromotions/observer_salesRule</class>
                        <method>addKeywordCondition</method>
                    </autobuypromotions_keywords_condition>
                </observers>
            </salesrule_rule_condition_combine>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <autobuypromotions before="Mage_Adminhtml">Edge_AutoBuyPromotions_Adminhtml</autobuypromotions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_promo_quote_edit_tab_main_prepare_form>
                <observers>
                    <autobuypromotions_salesrule_form>
                        <class>autobuypromotions/adminhtml_observer</class>
                        <method>addFieldToForm</method>
                    </autobuypromotions_salesrule_form>
                </observers>
            </adminhtml_promo_quote_edit_tab_main_prepare_form>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <autobuypromotions_salesrule_form>
                        <class>autobuypromotions/adminhtml_observer</class>
                        <method>removeActionsFieldset</method>
                    </autobuypromotions_salesrule_form>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <autobuypromotions_salesrule_prepare_save>
                        <class>autobuypromotions/adminhtml_observer</class>
                        <method>addProductIdsToRequest</method>
                    </autobuypromotions_salesrule_prepare_save>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
        </events>
        <layout>
            <updates>
                <autobuypromotions>
                    <file>edge/autobuypromotions.xml</file>
                </autobuypromotions>
            </updates>
        </layout>
    </adminhtml>
</config>